* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@media screen and (min-width: 320px) {
    .section-parts img {
        width: 5rem;
        margin: .1rem;
    }

    .section-puzzle div {
        width: 5rem;
        height: 142.22px;
        background-color: yellowgreen;
        margin: .1rem;
    }
}


